@model Elearning.Models.UserCertificate
@{
    ViewData["Title"] = "Sertifika";
}

<div style="height:70px;"></div>
<div class="container">
    <div>
        <img class="img-fluid" style="margin:0 auto" src="@Model.Path" />
    </div>
</div>
<div style="height:50px;"></div>